<section>
    <h2>Stacked Cards in a Grid</h2>
<div class="row row-cols-1 row-cols-md-3 g-4">
        @{
    var count = 0;
    var maxItems = 4;
}
        @foreach (var product in Model.Products)
    {
            if (count == maxItems)
            {
                break;
            }
            count++;
     <div class="col">
        <div class="card h-100">
                <img src="@product.Image" class="card-img-top" alt="...">
            <div class="card-body">
                    <h5 class="card-title">@product.Title</h5>
                <p class="card-text">@product.Description</p>
            </div>
        </div>
    </div>
    }
</div>
</section>



