<nav class="container-xxl navbar navbar-nav navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-start" id="navbarNav">
            @*Begin Off Canvas Title and Close*@
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasRightLabel">In this site</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            @*End Off Canvas Title and Close*@
            @*Begin navigation items*@
            <div class="offcanvas-body d-flex justify-content-lg-end">
                <partial name="Bars/_nav-items" />
            </div>
            @*End navigation items*@
        </div>
    </div>
</nav>