@{
    //Get the current page url
    var currentUrl = @Context.Request.Path;

    // If the current url is / then set the current url to /Index
    if (currentUrl == null)
    {
        currentUrl = "/";
    }
    else if (currentUrl == "/")
    {
        currentUrl = "/Index";
    }
}

@{
    // Create a list of menu items
    var navItems = new Dictionary<string, string>();
    navItems.Add("Home", "/Index");
    navItems.Add("Tabs", "/Tabs");
    navItems.Add("Slides", "/Slides");
    navItems.Add("Cards", "/Cards");
    navItems.Add("Layouts", "/Layouts");
    navItems.Add("Grids", "/Grids");
    navItems.Add("Privacy", "/Privacy");
    }
    
<ul class="navbar-nav nav-pills flex-grow-1 flex-lg-grow-0">
    @foreach (var item in navItems)
    // Loop through the list of navigation items
{
        <li class="nav-item text-center">
            <a class="nav-link @(currentUrl == item.Value ? "active" : "")" asp-area="" asp-page="@item.Value">@item.Key</a>
    </li>   
}
</ul>