@* if the current page url matches the url of the navigation item, then add the nav-link active class to the navigation item*@

@{
    var currentUrl = @Context.Request.Path;
}

<ul class="navbar-nav nav-pills">
    @*Home*@
    @if (currentUrl == "/")
    {
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" asp-area="" asp-page="/Index">Home</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-page="/Index">Home</a>
        </li>
    }
    @*Slides*@
    @if (currentUrl == "/Slides")
    {
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" asp-area="" asp-page="/Slides">Slides</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-page="/Slides">Slides</a>
        </li>
    }
    @*Cards*@
    @if (currentUrl == "/Cards")
    {
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" asp-area="" asp-page="/Cards">Cards</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-page="/Cards">Cards</a>
        </li>
    }
    @*Cards*@
    @if (currentUrl == "/Layouts")
    {
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" asp-area="" asp-page="/Layouts">Layouts</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-page="/Layouts">Layouts</a>
        </li>
    }
    @*Grids*@
    @if (currentUrl == "/Grids")
    {
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" asp-area="" asp-page="/Grids">Grids</a>
    </li>
    }
    else
    {
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-page="/Grids">Grids</a>
    </li>
    }
    @*Privacy*@
    @if (currentUrl == "/Privacy")
    {
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" asp-area="" asp-page="/Privacy">Privacy</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-page="/Privacy">Privacy</a>
        </li>
    }
@*    <li class="nav-item">
        @Context.Request.Path 
    </li>*@
</ul>



