@page
@model Bootstrap_5_Components.Pages.CardsModel
@{
    ViewData["Title"] = "Cards";
}
<h1>@ViewData["Title"]</h1>

<div class="container">
    <partial name="Cards/_cards-horizontal-rich" />
</div>

<div class="container">
    <partial name="Cards/_cards-grid" />
</div>
