@using Microsoft.AspNetCore.Mvc.RazorPages
@using Microsoft.AspNetCore.Routing
@inject EndpointDataSource EndpointsDataSource

<div class="container">
    <section>
        <h2>Stacked Cards in a Grid</h2>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100">
                    <img src="https://user-images.githubusercontent.com/41929050/61567048-13938600-aa33-11e9-9cfd-712191013192.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">The Quantified Cactus: An Easy Plant Soil Moisture Sensor</h5>
                        <p class="card-text">This project is a good learning project to get comfortable with soldering and programming an Arduino.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="https://user-images.githubusercontent.com/41929050/61567049-13938600-aa33-11e9-9c69-a4184bf8e524.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">A beautiful switch-on book light</h5>
                        <p class="card-text">Use craft items you have around the house, plus two LEDs and a LilyPad battery holder, to create a useful book light for reading in the dark.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="https://user-images.githubusercontent.com/41929050/61567053-13938600-aa33-11e9-9780-104fe4019659.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Bling your Laptop with an Internet-Connected Light Show</h5>
                        <p class="card-text">Create a web-connected light-strip API controllable from your website, using the Particle.io.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="https://user-images.githubusercontent.com/41929050/61567051-13938600-aa33-11e9-8ae7-0b5c19aafab4.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Create a Compact Survival Kit with LED Track Lighting</h5>
                        <p class="card-text">Use an Altoids tin with Chibitronics sticker LEDs to create a light-up compact that doubles as a survival kit for the young hipster</p>
                    </div>
                </div>
            </div>
        </div>
    </section>




</div>
