

<button class="btn btn-primary d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasResponsive" aria-controls="offcanvasResponsive">Toggle offcanvas</button>

<div class="alert alert-info d-none d-lg-block">Resize your browser to show the responsive offcanvas toggle.</div>

<div class="container mt-3">
    <div class="row">
        <div class="col-12 col-lg-9">
            <partial name="Text/_text-01" />
        </div>
        <div class="col-lg-3 offcanvas-lg offcanvas-end" id="offcanvasResponsive" aria-labelledby="offcanvasResponsiveLabel">
            @*Begin Off Canvas Title and Close*@
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasRightLabel">In this site</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasResponsive" aria-label="Close"></button>
            </div>
            @*End Off Canvas Title and Close*@
            @*Begin navigation items*@
            <div class="offcanvas-body d-flex justify-content-lg-end">
                <p>Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.</p>
            </div>
            @*End navigation items*@
        </div>
    </div>
</div>




<div class="container mt-3">
    <div class="row">
        <div class="col-6 col-lg-9">
            <partial name="Text/_text-01" />
        </div>
        <div class="col-6 col-lg-3">
            <h2>Fusce non varius purus aenean</h2>
            <p>Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.</p>
        </div>
    </div>
</div>



@*<div class="offcanvas-lg offcanvas-end" tabindex="-1" id="offcanvasResponsive" aria-labelledby="offcanvasResponsiveLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasResponsiveLabel">Responsive offcanvas</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasResponsive" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <p class="mb-0">This is content within an <code>.offcanvas-lg</code>.</p>
    </div>
</div>*@
