<div class="container mt-3">
    <div class="grid">
        <div class="g-col-12 g-col-md-3">
            Left Column
        </div>
        <div class="g-col-12 g-col-md-6">
            <partial name="Text/_text-01" />
        </div>
        <div class="g-col-12 g-col-md-3">
            Right Column
        </div>
    </div>
</div>
