<div class="container mt-3">
    <div class="row">
        <div class="col-3">
            Left Column
        </div>
        <div class="col-6">
            <partial name="Text/_text-01" />
        </div>
        <div class="col-3">
            Right Column
        </div>
    </div>
</div>
