@using Microsoft.AspNetCore.Mvc.RazorPages
@using Microsoft.AspNetCore.Routing
@inject EndpointDataSource EndpointsDataSource

<div class="container mt-3">
    <div class="row">
        <div class="col-md-3">
            @{
                HashSet<string> Pages = new HashSet<string>();
                foreach (var endpoint in EndpointsDataSource.Endpoints)
                {
                    foreach (var metadata in endpoint.Metadata)
                    {
                        if (metadata is PageActionDescriptor)
                        {
                            //Pages.Add(((PageActionDescriptor)metadata).RelativePath);
                            Pages.Add(((PageActionDescriptor)metadata).RouteValues["page"].ToString());
                            //Pages.Add(((PageActionDescriptor)metadata).RouteValues["handler"].ToString());
                            //Pages.Add(((PageActionDescriptor)metadata).RouteValues["area"].ToString());
                        }
                    }
                }
            }
            <nav class="bg-primary bg-opacity-25">
                <h2 class="navbar-toggler w-100 p-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav2" aria-controls="navbarNav2" aria-expanded="false" aria-label="Toggle navigation">In this section</h2>
                <div class="navbar navbar-expand-md bg-body-tertiary">
                    <div class="collapse navbar-collapse" id="navbarNav2">
                        <ul class="nav navbar navbar-expand-md flex-column">
                            @foreach (var p in Pages)
                            {
                                <li class="nav-item">
                                    <a href="@p" class="nav-link">@p</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="col-md-6">
            <partial name="Text/_text-01" />
        </div>
        <div class="col-md-3">
            Right Column
        </div>
    </div>
</div>
