@using Microsoft.AspNetCore.Mvc.RazorPages
@using Microsoft.AspNetCore.Routing
@inject EndpointDataSource EndpointsDataSource

<div class="container mt-3">
    <div class="row">
        <div class="col-3">
            @{
                HashSet<string> Pages = new HashSet<string>();
                foreach (var endpoint in EndpointsDataSource.Endpoints)
                {
                    foreach (var metadata in endpoint.Metadata)
                    {
                        if (metadata is PageActionDescriptor)
                        {
                            //Pages.Add(((PageActionDescriptor)metadata).RelativePath);
                            Pages.Add(((PageActionDescriptor)metadata).RouteValues["page"].ToString());
                            //Pages.Add(((PageActionDescriptor)metadata).RouteValues["handler"].ToString());
                            //Pages.Add(((PageActionDescriptor)metadata).RouteValues["area"].ToString());
                        }
                    }
                }
            }
            <ul class="nav flex-column">
                @foreach (var p in Pages)
                {
                    <li class="nav-item">
                        <a href="@p" class="nav-link">@p</a>
                    </li>
                }
            </ul>
        </div>
        <div class="col-6">
            <partial name="Text/_text-01" />
        </div>
        <div class="col-3">
            Right Column
        </div>
    </div>
</div>
