<h2>Introduction</h2>
<p>My name is Dean Leigh and I am what would be traditionally called a 'web designer'.</p>
<p>I created this site as a side project to bring myself up to speed with a combination of technologies that help you get a simple template based website up and running quickly and easily.</p>
<h2>Azure Hosting</h2>
<p>The site is hosted on an Azure Web App. The benefit of this is the tight integration with Visual Studio, Visual Studio Code and CI/CD via GitHub.</p>
<h2>Razor Pages</h2>
<p>Razor Pages are an .Net technology written in C#.</p>
<p>They are an intuitive template system for creating multi page web apps.</p>
<p>You can find out more about Razor Pages here:<br /><a href="https://learn.microsoft.com/en-us/aspnet/core/razor-pages/?view=aspnetcore-7.0&amp;tabs=visual-studio">Introduction to Razor Pages in ASP.NET Core</a></p>
<h2>Bootstrap 5.3</h2>
<p>Bootstrap is a CSS framework written in Sass. I usually write my own CSS and Sass but recently Bootstrap 5 introduced CSS Grid for it's grid system.</p>
<p>As many C# / .Net developers already use Bootstrap I decided to experiemnt with the new grid system which is still ion beta (it needs to be enables in Bootstrap Config).</p>
<p>&nbsp;</p>